html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  /*border: 2px solid #ce7777;*/
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 0 180px 100px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 80px;
  background-color: #1f2937;
}

.header-top {
  min-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: end;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

nav > a {
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  color: #e5e7eb;
}

.header-top > p {
  font-size: 24px;
  color: #f9faf8;
}

.header-bottom {
  min-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-info {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header-info > p {
  font-size: 18px;
  color: #e5e7eb;
}

.header-bottom > img {
  width: 700px;
  height: auto;
  background-color: #8d8e8f;
}

.header-info > button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 8px;
  color: #e5e7eb;
  font-weight: 700;
  background-color: #3882f6;
}

main {
  padding: 30px 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  gap: 20px;
}

main > h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.main-content {
  display: flex;
  gap: 30px;
}

.main-image-block {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.main-image-block > img {
  width: 150px;
  height: auto;
  align-self: center;
  border: 1px solid blue;
  border-radius: 8px;
}

.main-image-block > p {
  width: 150px;
  text-align: center;
}

.quote {
  padding: 60px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex: 1 1 auto;
  background-color: #e5e7eb;
}

.quote > p {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.quote > h3 {
  align-self: flex-end;
}

footer {
  flex: 1 1 auto;
  color: #e5e7eb;
  background-color: #1f2937;
}